:root{
    // font-sizes

    --fsz-standart: 1rem;
    --fsz-medium: 3rem;
    --fsz-big: 3.75rem;

    // colors

    --back: #177165;
    --dark: #000000;
    --f-l-green: #A4D6CF;
    --f-d-green: #23786D;
    --f-ul-green: #E1F4F2;
    --white: #ffffff;
    --gray: #777777;
}
